node_modules/
ios/Pods/
ios/Podfile.lock
android/build/
android/app/build/
.expo/
.expo-shared/
.env
dist/
npm-debug.*

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Logs
logs/
*.log

# Dependency directories
dependencies/
dist/

# Optional: Ignore sensitive information like config files or API keys
config.js
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
